body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-size: 14px;
    font-family: sans-serif;
    margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
